<p id="notice"><%= notice %></p>
<div class="bg_message">
  <p style="position: absolute; top: 10px; bottom: 0; left: 30px;">
    Informal Business Knowledge Sharing Platform
  </p>
  <p style="font-size: 20pt;position: absolute; top: 40px; bottom: 0; left: 30px;">
    Your Folder
  </p>
  <p style="font-size: 20pt;line-height: 30pt;width:100%;">ー  働き方改革  －
  <br>知識・情報・スキルをシェアして、業務効率を向上させ、
  <br>「考える」時間を増やす
  <p>
</div>
<div class="row">
  <div class="new_articles col-md-8">
    <h3>新着ニュース</h3>
    <div class="row">
    <% @articles.each do |article| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <img src="..." alt="image">
            <h4><strong><%= article.title %></strong></h4>
            <p><%= article.body %></p>
            <%= link_to article do %><div class="btn btn-default" role="button">もっと見る &raquo;</div><% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="links  col-md-4">
    <h3>関連リンク</h3>
    <ul>
      <li><a>リンク１</a></li>
      <li><a>リンク２</a></li>
      <li><a>リンク３</a></li>
    </ul>
  </div>
