<p id="notice"><%= notice %></p>
<div class="row">
  <div class="left_content col-lg-2">
    <h3>カテゴリ一覧</h3>
    <div class="panel panel-default">
      <div class="list-group">
        <a class="list-group-item" href="#">メニューＡ</a>
        <a class="list-group-item" href="#">メニューＢ</a>
        <a class="list-group-item" href="#">メニューＣ</a>
      </div>
    </div>
  </div>
  <div class="right_content col-lg-10">
    <div class="bg_message">
      <p style="font-size: 28pt;line-height: 30pt;">ー  働き方改革  －
      <br>知識・情報・スキルをシェアして
      <br>業務効率を向上し、「考える」時間を増やす
      <p>
    </div>
    <div class="row">
      <div class="new_articles col-md-8">
        <h3>新着ニュース</h3>
        <div class="row">
        <% @articles.each do |article| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <img src="..." alt="image">
                <h4><strong><%= article.title %></strong></h4>
                <p><%= article.body %></p>
                <%= link_to article do %><div class="btn btn-default" role="button">もっと見る &raquo;</div><% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="links  col-md-4">
        <h3>関連リンク</h3>
        <ul>
          <li><a>リンク１</a></li>
          <li><a>リンク２</a></li>
          <li><a>リンク３</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
