<p id="notice"><%= notice %></p>

<div class="info">
  <p>
    <p style="margin-bottom:-10px;"><%= @article.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
    <h1><strong><%= @article.title %></strong></h1></p>
  </p>
</div>
<p>
  <hr>
  <%= simple_format(@article.body) %>
</p>
