<p id="notice"><%= notice %></p>
<div>
  <h1><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i> 全ての共有リクエスト</h1>
  <%= render partial: 'requests_index', locals: {response: @response, requests: @requests} %>
</div>
