#footer{
  position: absolute;
  // bottom: -100px;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: black;
  background-color: transparent;
  line-height: 30px;
  margin-top:-10px;
}

a:hover{
  background-color: transparent;
  color: gray;
}

h3{
  padding: 6px;
  line-height: 16pt;
  margin-bottom: 10px;
  // text-align: center;
  background-color: #e3e3e3;
}

p{
  font-size: 12pt;
}

.devise-bs{
  width:800px;
  margin:0 auto;
}

.panel-body{
  margin-right:20px;
  margin-left:20px;
}

.body {
  margin:0 auto;
  width:97%;
  min-width:500px;
  // min-height:100px;
}

.comments {
  width:60%;
  min-width:600px;
}

.post .thumbnail {
  height:380px;
}

.new_articles .thumbnail {
  height:100px;
}
.post_info {
  margin-top:-10px;
  margin-bottom:10px;
}

.pagenation {
  margin-top: 30px;
  text-align: center;
}

a.btn:visited {
  color:white;
}

.fa-heart:hover {
  background-color: white;
  color:gray;
}

.do-like {
  color:gray;
}

.do-like:hover {
  background-color: white;
  color:#ca493c;
}

.like {
  margin: 0 0 0 0;
  width:25px;
}

.likes_count {
 text-align: center;
 color:gray;
}

.likes_count_index {
 // text-align: center;
 // margin:0 0 0 1.5px;
 // float: right;
 // color:gray;
}

.fa-gray {
  color:#e3e3e3;
}

.fa-gray:hover {
  color:#fff;
}

.fa-red {
  color:#ca493c;
}

.red_icon {
  color:#ca493c;
}

.red_icon:hover {
  color:#ca493c;
}

.download-btn {
  margin: -10px 0 -75px 0;
}

.sort {
  width:150px;
  margin-left: auto;
}
