<p id="notice"><%= notice %></p>

<h1><i class="fa fa-th" aria-hidden="true"></i> <%= @category.name %> のアイテム</h1>

<%= link_to requests_category_path, style:"margin: 5px;", class:"btn btn-primary btn-md download-btn" do %><i class="fa fa-share-square-o" aria-hidden="true"></i> 共有リクエスト<% end %>

<%= render partial: '/posts/posts_index', locals: {posts: @posts, path: category_path} %>
