<p id="notice"><%= notice %></p>

<h1><i class="fa fa-th" aria-hidden="true"></i> <%= @filetype.name %> のアイテム
</h1>

<%= render partial: '/posts/posts_index', locals: {posts: @posts, path: filetype_path} %>
